body
{
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}
.AddProduct {
border: 1px solid rgb(194, 188, 188);
background-color: rgb(255, 255, 255);
margin-left: 35%;
width: 450px;
padding: 15px;
border-radius: 20px;
box-shadow: 5px 5px 10px #94c8e6;
color: rgb(3, 3, 3);
font-size: 1em;
font-weight: bold;
text-align: left;
margin-top: 4%;
margin-bottom: 3%;

}

.AddProduct h1
{
text-align: center;
color: #006A4E;;
font-family: "Open Sans", sans-serif;
text-shadow: 3px 3px 5px #afb4b4;
font-size: 2.5em;
}

form input[type="text"],
form textarea,
form select,
form input[type="file"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button{
background-color: #006A4E;
color: rgb(243, 243, 243);
border: none;
border-radius: 10px;
padding: 10px 20px;
text-align: center;
width: 100%;
text-decoration: none;
display: inline-block;
font-size: 20px;
font-weight: bold;
font-family:cursive;
margin: 4px 2px;
cursor: pointer;
align-items: center;
margin-left: 95px;
margin-top: 0px;
}

/* Hover effect */
button:hover {
  background-color: #009970;
  color: black;
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
  .AddProduct {
      margin-left: 5%; 
      margin-right: 20%; 
      margin-top: 10%;
      width: calc(90% - 10%); 
  }
}
